
### Java ###
# Package Files #
*.jar
*.war
*.ear
*.db

.classpath
.settings/
.project
.tern-project

### Maven ###
log/
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties

### Eclipse ###
.metadata
*.tmp
*.bak
*.swp
local.properties

### idea ###
*.ipr
*.iws
*.iml
 
.idea/
.idea_modules/